<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page">
        <div class="login-reg">
            <h1>Something went wrong...</h1>
            <h2>404 - Page not found</h2>
            <a href="/login">Already have an account? Login</a><br><hr>
            <a href="/register">Don't have an account? Register</a><br><hr>
            <a href="/dashboard">If you already logged in check the Dashboard</a>
        </div>
    </div>
</body>
</html>
