<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Edit Profile</h1>
    <div class="page">
        <div class="menu">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/office">Office</a></li>
                <li><p></p></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="content">
            <form method="POST">
                <label for="name">Full Name:</label><br>
                <input type="text" id="name" name="name" value="{{ user.name }}" required><br><br>
                
                <label for="email">Email Address:</label><br>
                <input type="email" id="email" name="email" value="{{ user.email }}" required><br><br>

                <label for="team">Team:</label><br>
                <input type="team" id="team" name="team" value="{{ user.team }}" required><br><br>

                <label for="title">Title:</label><br>
                <input type="title" id="title" name="title" value="{{ user.title }}" required><br><br>

                <label for="phone">Phone:</label><br>
                <input type="phone" id="phone" name="phone" value="{{ user.phone }}" required><br><br>
                
                <label for="password">New Password (leave blank to keep current password):</label><br>
                <input type="password" id="password" name="password"><br><br>
                
                <button type="submit">Update Profile</button>
            </form>
        </div>
    </div>
</body>
</html>
